**Module 01: Introduction to NumPy**

NumPy ndarray

In [ ]:
import numpy as np

In [ ]:
# Generate random data

mydata = np.random.randn(2, 3)
mydata

In [ ]:
mydata * 10

In [ ]:
mydata + mydata

In [ ]:
# .shape

mydata.shape

In [ ]:
# .type

mydata.dtype

In [ ]:
# Creating ndarrays

mydata1 = [6, 7.5, 8, 0, 1]
myarr1 = np.array(mydata1)
myarr1

In [ ]:
mydata2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
myarr2 = np.array(mydata2)
myarr2

In [ ]:
myarr1.dtype

In [ ]:
myarr2.dtype

In [ ]:
# .zeros

np.zeros(10)

In [ ]:
# .zeros

np.zeros((3, 5))

In [ ]:
# .arange

np.arange(10)

Data Types for ndarrays

In [ ]:
myarr1 = np.array([1, 2, 3], dtype=np.float64)
myarr1

In [ ]:
myarr1.dtype

In [ ]:
myarr2 = np.array([1, 2, 3], dtype=np.int32)
myarr2

In [ ]:
myarr2.dtype

In [ ]:
#.astype

myarr1 = np.array([1, 2, 3, 4, 5])
myarr1.dtype

In [ ]:
float_arr = myarr1.astype(np.float64)
float_arr.dtype

In [ ]:
float_arr

Arithmetic with NumPy Arrays

In [ ]:
myarr = np.array([[1., 2., 3.], [4., 5., 6.]])
myarr

In [ ]:
myarr * myarr

In [ ]:
myarr - myarr

In [ ]:
1 / myarr

Basic Indexing and Slicing

In [ ]:
myarr = np.arange(10)
myarr

In [ ]:
myarr[5]

In [ ]:
myarr[5:8]

In [ ]:
myarr[5:8] = 10
myarr

In [ ]:
arr_slice = myarr[5:8]
arr_slice

In [ ]:
arr_slice[1] = 15
myarr

In [ ]:
arr_slice[:] = 50
myarr

In [ ]:
myarr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
myarr2d[2]

In [ ]:
myarr2d[0][2]

In [ ]:
myarr2d[0, 2]

In [ ]:
myarr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
myarr3d

In [ ]:
myarr3d[0]

Indexing with slices

In [ ]:
myarr = np.array([10, 20, 30, 40, 50, 60, 70, 80])
myarr

In [ ]:
myarr[1:6]

In [ ]:
myarr[:3]

In [ ]:
myarr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
myarr2d

In [ ]:
myarr2d[:2, 1:]

In [ ]:
myarr2d[1, :2]

In [ ]:
myarr2d[:2, 2]

In [ ]:
myarr2d[:, :1]

In [ ]:
myarr2d[:2, 1:] = 0
myarr2d

Boolean Indexing

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names

In [ ]:
data = np.random.randn(7, 4)
data

In [ ]:
names == 'Bob'

In [ ]:
data[names == 'Bob']

In [ ]:
data[names == 'Bob', 2:]

In [ ]:
data[names == 'Bob', 3]

In [ ]:
names != 'Bob'

In [ ]:
data

In [ ]:
data[~(names == 'Bob')]

Fancy Indexing

In [ ]:
arr = np.empty((8, 4))

for i in range(8):
    arr[i] = i
arr

In [ ]:
arr[[4, 3, 0, 6]]

In [ ]:
arr[[-3, -5, -7]]

In [ ]:
arr = np.arange(32).reshape((8, 4))
arr

In [ ]:
arr[[1, 5, 7, 2], [0, 3, 1, 2]]

Transposing Arrays

In [ ]:
arr = np.arange(15).reshape((3, 5))
arr

In [ ]:
arr.T

Universal Functions: Fast Element-Wise Array Functions

In [ ]:
arr = np.arange(10)
arr

In [ ]:
np.sqrt(arr)

In [ ]:
np.exp(arr)

In [ ]:
x = np.random.randn(8)
x

In [ ]:
y = np.random.randn(8)
y

In [ ]:
np.maximum(x, y)

Array-Oriented Programming with Arrays

In [ ]:
points = np.arange(-5, 5, 0.01) # 1000 equally spaced points
xs, ys = np.meshgrid(points, points)
ys

In [ ]:
z = np.sqrt(xs ** 2 + ys ** 2)
z

In [ ]:
import matplotlib.pyplot as plt

plt.imshow(z, cmap=plt.cm.gray)
plt.colorbar()
plt.title("Image plot of $\sqrt{x^2 + y^2}$ for a grid of values")

Mathematical and Statistical Methods

In [ ]:
arr = np.random.randn(5, 4)
arr

In [ ]:
arr.mean()

In [ ]:
np.mean(arr)

In [ ]:
arr.sum()

Methods for Boolean Arrays

In [ ]:
bools = np.array([False, False, True, False])
bools.any()

In [ ]:
bools = np.array([False, False, True, False])
bools.all()

Sorting Array

In [ ]:
arr = np.random.randn(6)
arr

In [ ]:
arr.sort()
arr

In [ ]:
arr = np.random.randn(5, 3)
arr

In [ ]:
arr.sort()
arr

Unique and Other Set Logic

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

In [ ]:
ints = np.array([3, 3, 3, 2, 2, 1, 1, 4, 4])
np.unique(ints)

In [ ]:
sorted(set(names))

In [ ]:
sorted(set(ints))

Linear Algebra

In [ ]:
x = np.array([[10, 20, 30], [40, 50, 60]])
x

In [ ]:
y = np.array([[60, 20], [-10, 70], [80, 90]])
y

In [ ]:
x.dot(y)

**Module 02: Introduction to pandas**

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series, DataFrame

Introduction to pandas Data Structures - Series

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2['d'] = 6
obj2[['c', 'a', 'd']]

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3 + obj4

In [ ]:
obj4.name = 'population'
obj4

In [ ]:
obj4.index.name = 'state'
obj4

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Introduction to pandas Data Structures - DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

In [ ]:
frame.head()

In [ ]:
frame.head(3)

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

In [ ]:
frame2

In [ ]:
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
frame3

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}

pd.DataFrame(pdata)

Essential Functionality

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
# .reindex()

obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6), method='ffill')

#เติมข้อมูลที่ขาดโดยอาศัยข้อมูลที่อยู่ด้านหน้าให้ใส่เป็น method='ffill'

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
frame

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

Dropping Entries from an Axis

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
# .drop

new_obj = obj.drop('c')
new_obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)  #  (axis = 0 คือแถว, axis = 1 คือคอลัมน์)

In [ ]:
data.drop(['two', 'four'], axis='columns')

In [ ]:
obj

In [ ]:
obj.drop('c', inplace=True) # inplace=True ลงไปเพื่อทำให้เมธอดนี้เป็นการเปลี่ยนแปลงแทนที่เดตาเฟรมตัวเก่า

In [ ]:
obj

Indexing, Selection, and Filtering

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[[1, 3]]

In [ ]:
obj[obj < 2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three', 'one']]

In [ ]:
data

In [ ]:
data[:2]

In [ ]:
data[data['three'] > 5]

In [ ]:
data

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0

In [ ]:
data

Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s1

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

In [ ]:
df1 + df2

Arithmetic methods with fill values

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df1

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2

In [ ]:
df2.loc[1, 'b'] = np.nan

การที่จะเลือกแถว และคอลัมน์ นั้นเราจะต้องระบุว่าต้องการจะเลือกข้อมูลที่อยู่ใน แถวอะไร และคอลัมน์อะไร หรือ Location ที่มีข้อมูลที่ต้องการอยู่นั้นเอง ซึ่งมี 2 วิธี ดังนี้

loc : การที่จะใช้ loc นั้น จะต้องระบุชื่อของแถวและ ชื่อของคอลัมน์ลงไปตรงๆ
iloc : การที่จะใช้ iloc นั้นไม่สนใจชื่อ แต่สนใจตำแหน่งของแถว และ ตำแหน่งของคอลัมน์

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])

frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.describe()

**Module 03: Data Loading, Storage and File Formats**

Reading and Writing Data in Text Format

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

In [ ]:
path = '/content/drive/MyDrive/'

In [ ]:
df = pd.read_csv(path +'examples/ex1.csv')
df

In [ ]:
pd.read_table(path + 'examples/ex1.csv', sep=',')

In [ ]:
pd.read_csv(path + 'examples/ex2.csv', header=None)

In [ ]:
pd.read_csv(path + 'examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv(path + 'examples/ex2.csv', names=names, index_col='message')

In [ ]:
parsed = pd.read_csv(path + 'examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

In [ ]:
result = pd.read_table(path + 'examples/ex3.txt', sep='\s+')
result

In [ ]:
pd.read_csv(path + 'examples/ex4.csv', skiprows=[0, 2, 3])

In [ ]:
result = pd.read_csv(path + 'examples/ex5.csv')
result

In [ ]:
pd.isnull(result)

In [ ]:
result = pd.read_csv(path + 'examples/ex5.csv', na_values=['NULL'])
result

Reading Text Files in Pieces

In [ ]:
result = pd.read_csv(path + 'examples/ex6.csv')
result

In [ ]:
pd.read_csv(path + 'examples/ex6.csv', nrows=5)

In [ ]:
pd.read_csv(path + 'examples/ex6.csv', nrows=10)

Writing Data to Text Format

In [ ]:
data = pd.read_csv(path + 'examples/ex5.csv')
data

In [ ]:
data.to_csv(path + 'examples/out.csv')

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)

In [ ]:
dates

In [ ]:
ts

In [ ]:
ts.to_csv(path + 'examples/tseries.csv')

Working with Delimited Formats

In [ ]:
import csv
f = open(path + 'examples/ex7.csv')

reader = csv.reader(f)

In [ ]:
for line in reader:
    print(line)

JSON Data

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
import json
result = json.loads(obj)
result

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

In [ ]:
data = pd.read_json(path + 'examples/example.json')
data

In [ ]:
print(data.to_json())

In [ ]:
print(data.to_json(orient='records'))

XML and HTML: Web Scraping

In [ ]:
tables = pd.read_html(path + 'examples/fdic_failed_bank_list.html')
len(tables)

In [ ]:
failures = tables[0]

In [ ]:
failures.head()

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

In [ ]:
close_timestamps.dt.year.value_counts()

In [ ]:
from lxml import objectify

paths = path + 'examples/Performance_MNR.xml'
parsed = objectify.parse(open(paths))
root = parsed.getroot()

In [ ]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
perf = pd.DataFrame(data)
perf.head()

Reading Microsoft Excel Files

In [ ]:
xlsx = pd.ExcelFile(path + 'examples/ex1.xlsx')

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
frame = pd.read_excel(path + 'examples/ex1.xlsx', 'Sheet1')
frame

Interacting with Web APIs

In [ ]:
import requests

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
data = resp.json()
data

In [ ]:
data[0]['title']

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

Interacting with Databases

In [ ]:
import sqlite3

query = """
CREATE TABLE test1
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

stmt = "INSERT INTO test1 VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test1')
rows = cursor.fetchall()
rows

In [ ]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

Module 04: Data Cleaning and Preparation

Handling Missing Data

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

Filtering Out Missing Data

In [ ]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

In [ ]:
data

In [ ]:
data[data.notnull()]

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

data

In [ ]:
cleaned = data.dropna()
cleaned

In [ ]:
data

In [ ]:
data.dropna(how='all')

In [ ]:
data

In [ ]:
data[4] = NA
data

In [ ]:
data.dropna(axis=1, how='all')

Data Transformation

In [ ]:
# Removing Duplicates

data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

In [ ]:
data

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

Transforming Data Using a Function or Mapping

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()
lowercased

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)
data

Replacing Values

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
data.replace(-999, np.nan)

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data

In [ ]:
data.replace({-999: np.nan, -1000: 0})

Renaming Axis Indexes

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

In [ ]:
data

In [ ]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

In [ ]:
data.index = data.index.map(transform)
data

In [ ]:
data.rename(index=str.title, columns=str.upper)

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

In [ ]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
data

String Manipulation

In [ ]:
val = 'a,b,  guido'
val.split(',')

In [ ]:
pieces = [x.strip() for x in val.split(',')]
pieces

In [ ]:
first, second, third = pieces
first + '::' + second + '::' + third

In [ ]:
'::'.join(pieces)

In [ ]:
'guido' in val
val.index(',')

In [ ]:
val.find(':')

In [ ]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

In [ ]:
data.isnull()

In [ ]:
data.str.contains('gmail')

Module 05: Data Wrangling

Hierarchical Indexing

In [ ]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index

In [ ]:
data['b']

In [ ]:
data['b':'c']

In [ ]:
data.loc[['b', 'd']]

In [ ]:
data.loc[:, 2]

In [ ]:
data

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

In [ ]:
frame.index.names = ['key1', 'key2']
frame

In [ ]:
frame.columns.names = ['state', 'color']
frame

In [ ]:
frame['Ohio']

Indexing with a DataFrame's columns

In [ ]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two',
                            'two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]})
frame

In [ ]:
frame2 = frame.set_index(['c', 'd'])
frame2

In [ ]:
frame.set_index(['c', 'd'], drop=False)

In [ ]:
frame2.reset_index()

Combining and Merging Datasets

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})

df1

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})

df3

In [ ]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

df4

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})
df2

In [ ]:
pd.merge(df1, df2, on='key', how='left')

In [ ]:
pd.merge(df1, df2, how='inner')

In [ ]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
                      'key2': [2000, 2001, 2002, 2001, 2002],
                      'data': np.arange(5.)})

lefth

In [ ]:
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                             [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns=['event1', 'event2'])
righth

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer')

In [ ]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])

left2

In [ ]:
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])
right2

In [ ]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True)

In [ ]:
left2.join(right2, how='outer')

Reshaping and Pivoting

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'],
                    name='number'))
data

In [ ]:
result = data.stack()
result

In [ ]:
result.unstack()

In [ ]:
result.unstack(0)

In [ ]:
result.unstack(1)

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

In [ ]:
path = '/content/drive/MyDrive/'

In [ ]:
data = pd.read_csv(path + 'examples/macrodata.csv')
data.head()

In [ ]:
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')
columns = pd.Index(['realgdp', 'infl', 'unemp'], name='item')

data = data.reindex(columns=columns)
data

In [ ]:
data.index = periods.to_timestamp('D', 'end')
data

In [ ]:
ldata = data.stack().reset_index().rename(columns={0: 'value'})
ldata

In [ ]:
ldata[:10]

In [ ]:
pivoted = ldata.pivot('date', 'item', 'value')
pivoted

In [ ]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

In [ ]:
melted = pd.melt(df, ['key'])
melted

In [ ]:
reshaped = melted.pivot('key', 'variable', 'value')
reshaped

Module 06: Plotting and Visualization

In [ ]:
import matplotlib.pyplot as plt

print(plt)

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5]
y = [5, 15, 15, 20, 10]

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

data = [5, 20, 10, 15, 10]

plt.plot(data)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

y = [5, 20, 10, 15, 10]
x = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

y = np.random.randint(1, 11, 5)
x = list('ABCDE')

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

y = np.random.randint(1, 11, 5)
x = list('ABCDE')

plt.rcParams['figure.figsize'] = (10, 5)  #width = 10", height=5"
plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

y = np.random.randint(1, 11, 5)
x = list('abdef')

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.available

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = (15, 12, 19, 13, 16, 17, 12)
x = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

plt.title('Sales of Week', color='blue', alpha=0.8)

plt.ylabel('Sales Amount', color='m', fontsize=14)
plt.xlabel('Date', color='g', fontsize=14)

plt.yticks(color='r')
plt.xticks(rotation='vertical', color='r', fontsize=13)

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = [5, 15, 15, 20, 10]
x = [1, 3, 5, 7, 9]
plt.plot(y)

plt.xticks([0, 1, 2, 3, 4])

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

y = np.random.randint(10, 100, 11)
x = np.arange(2010, 2021)

plt.axis([2015, 2020, 10, 100])

plt.plot(x, y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = [6, 8, 5, 7]
x = [1, 2, 3, 4]

plt.plot(x, y, '--ro')
plt.grid(color='g', alpha=0.1,
         lw=2, linestyle='--')

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = [10, 15, 15, 20, 10]
x = [1, 2, 3, 4, 5]
plt.plot(x, y, ls='-', c='r', label='Product #1')

y = [15, 25, 10, 15, 20]
plt.plot(x, y, ls='--', c='g', label='Product #2')

y = [10, 20, 15, 10, 15]
plt.plot(x, y, ls=':', c='b', label='Product #3')

plt.legend(loc='best')

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = np.random.randint(1, 6, 4)
x = list('ABCD')

plt.subplot(2,2,1)
plt.plot(x, y, 'ro-')

y = np.random.randint(1, 6, 4)
plt.subplot(2,2,2)
plt.plot(x, y, 'ro--')

y = np.random.randint(1, 6, 4)
plt.subplot(2,2,3)
plt.plot(x, y, 'ro:')

y = np.random.randint(1, 6, 4)
plt.subplot(2,2,4)
plt.plot(x, y, 'ro-.')

plt.subplots_adjust(wspace=0.3, hspace=0.3)
plt.show()

In [ ]:
import matplotlib.pyplot as plt

y = [50, 70, 35, 90, 40]
x = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

plt.bar(x, y, color='g', alpha=0.8)
plt.xticks(rotation=45)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.style.use("ggplot")

y = [2, 4, 1, 2, 3, 2, 1, 2, 3, 2]
x = np.arange(1, 11)

plt.bar(x, y, color='m')
plt.title('Bar Plot')
plt.xlabel('Play')
plt.ylabel('Score')
plt.grid(color='y', alpha=0.2)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

y = [50, 70, 35, 90, 40]
x = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

plt.bar(x, y, color='#dddddd', alpha=0.8, hatch='\\\\')
plt.xticks(rotation=45)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = [50, 20, 15, 5, 10]
x = ['Chrome', 'Edge', 'Firefox', 'Opera', 'Safari']

plt.barh(x, y, color='c', alpha=0.8)
#plt.xticks(rotation=45)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')

y = [10, 15, 15, 20, 10]
x = [1, 2, 3, 4, 5]
plt.bar(x, y, hatch='..', color='lightgray', label='Product #1')

y = [15, 25, 10, 15, 20]
plt.bar(x, y, color='lightgreen', label='Product #2')

y = [10, 20, 15, 10, 15]
plt.bar(x, y, color='g', label='Product #3')

plt.legend(loc='best')

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

y = np.random.randint(1, 6, 4)
x = list('ABCD')
plt.subplot(2,2,1)
plt.bar(x, y, color='r')

y = np.random.randint(1, 6, 4)
x = list('ABCD')
plt.subplot(2,2,2)
plt.bar(x, y, color='lightgreen')

y = np.random.randint(1, 6, 4)
x = list('ABCD')
plt.subplot(2,2,3)
plt.barh(x, y, color='b')

y = np.random.randint(1, 6, 4)
x = list('ABCD')
plt.subplot(2,2,4)
plt.barh(x, y, color='lightblue')

plt.subplots_adjust(wspace=0.3, hspace=0.3)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

data = [50, 20, 15, 5, 10]
lb = ['Chrome', 'Edge', 'Firefox',
      'Opera', 'Safari']

plt.pie(data, labels=lb,
        startangle=45,
        colors=['lightgreen', 'lightgray', 'lightblue',
                'lightcyan', 'lightyellow'])


plt.show()

In [ ]:
import matplotlib.pyplot as plt

data = [25, 20, 35, 10, 5]
lb = ['Chrome', 'Edge', 'Firefox', 'Opera', 'Safari']
explode = [0, 0.1, 0, 0.2, 0]

plt.pie(data, labels=lb,
        explode=explode, startangle=30,
        colors=['lightgray', '#ffffcc', 'pink', 'lightgreen', 'aqua'],
        shadow=True, autopct="%.1f%%")

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('seaborn-white')

data = np.random.randint(10, 101, 30)  #สร้างเลขสุ่มระหว่าง 10-100 ทั้งหมด 30 จำนวน

plt.hist(data, bins=np.arange(10, 101, 10), color='lightblue' , edgecolor='k', alpha=0.5)

plt.xticks(np.arange(10, 101, 10))

plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

data = np.random.randint(10, 101, 20)
sr = pd.Series(data)

sr[sr > 50].head(5).plot(kind='barh', use_index=False,
                         fontsize=14,
                         xticks=np.arange(0, 100, 15))

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

data = {'one': np.random.randint(10, 101, 5),
        'two': np.random.randint(10, 101, 5),
        'three': np.random.randint(10, 101, 5)}

df = pd.DataFrame(data, index=list('ABCDE'))

df.plot.barh(fontsize=14, width=0.7, grid=True,
             use_index=True, color=['b', 'lightblue', 'm'])

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.style.use('seaborn')

y = np.random.randint(1, 101, 20)
x = np.arange(1, 21)

plt.scatter(x, y, color='blue', marker='o')

plt.yticks(np.arange(0, 101, 10))
plt.xticks(x)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure()
ax = Axes3D(fig)

ax.set_xlabel('X Axis')
ax.set_ylabel('Y Axis')
ax.set_zlabel('Z Axis')

ax = plt.axes(projection='3d')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure()
ax = Axes3D(fig)
ax = plt.axes(projection='3d')

x = np.random.randint(10, 20, 5)
y = np.random.randint(30, 40, 5)
z = np.random.uniform(1, 5, 5)

ax.plot3D(x, y, z, 'ro--')

ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure()
ax = Axes3D(fig)
ax = plt.axes(projection='3d')

x = np.random.randint(10, 20, 20)
y = np.random.randint(30, 40, 20)
z = np.random.uniform(1, 5, 20)

ax.scatter(x, y, z, color='green', marker='o')

ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')

Pandas

In [ ]:
import pandas as pd
import numpy as np

sr = pd.Series([40, 20, 50, 30, 40, 20])
sr.plot.line()

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 101, 10)
sr = pd.Series(data, index=list('abcdefghij'))

sr.plot(kind='line', title='Line Plot with Pandas',
        style='ro--', grid=True, fontsize=16)

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randint(10, 101, 10)
sr = pd.Series(data, index=list('abcdefghij'))

sr.plot.line(style='mD:', grid=True, use_index=False,
             xticks=np.arange(0, 10, 1),
             yticks=np.arange(0, 110, 10))

In [ ]:
import pandas as pd
import numpy as np

#เลือกเฉพาะจำนวนที่มีค่า 50 ขึ้นไปมาสร้างเป็นกราฟ
data = np.random.randint(10, 101, 20)
sr = pd.Series(data)

sr[sr > 50].plot(kind='line', style='bp--',
                 grid=True, use_index=False)

In [ ]:
import pandas as pd
import numpy as np

#แสดงกราฟของข้อมูล 10 รายการสุดท้าย
data = np.random.randint(10, 101, 30)
sr = pd.Series(data)

sr.tail(10).plot(kind='line', style='bp--',
                 grid=True, use_index=True)

In [ ]:
import pandas as pd
import numpy as np

sr = pd.Series([40, 20, 50, 30, 40, 20],
               index=np.arange(1, 7))

sr.plot.bar(rot=0, use_index=True, color='lightblue')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = {'one': np.random.randint(10, 101, 5),
        'two': np.random.randint(10, 101, 5),
        'three': np.random.randint(10, 101, 5)}

df = pd.DataFrame(data, index=list('ABCDE'))

exp = [0, 0.2, 0, 0, 0.2]
df['two'].plot.pie(fontsize=14, autopct='%.1f%%',
                   startangle=45, shadow=False,
                   explode=exp,
                   colors=['lightgreen', 'lightcyan', 'pink',
                           'lightblue', 'wheat'])

plt.ylabel('')

Module 07: Data Aggregation

In [ ]:
# GroupBy Mechanics

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

In [ ]:
means.unstack()

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

In [ ]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

In [ ]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

In [ ]:
map_series = pd.Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

Grouping with Functions

In [ ]:
people.groupby(len).sum()

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

Grouping by Index Levels

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

Column-Wise and Multiple Function Application

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive/')

In [ ]:
path = '/content/drive/MyDrive/'

In [ ]:
tips = pd.read_csv(path + 'examples/tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

In [ ]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

Pivot Tables and Cross-Tabulation

In [ ]:
tips.pivot_table(index=['day', 'smoker'])

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                 columns='smoker')

In [ ]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'],
                 columns='smoker', margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'smoker'], columns='day',
                 aggfunc=len, margins=True)

In [ ]:
tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'],
                 columns='day', aggfunc='mean', fill_value=0)

**Module 08 : Data Analytic Example**

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS1.csv')

display(df.head(5), df.tail(5))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS1.csv')

print(df['Cause Name'].unique(),
      df['State'].unique(),
      sep='\n\n')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS1.csv')
print('Old file', df.shape)

In [ ]:
df2 = df[df['Cause Name'] != 'All causes']
df3 = df2[df2['State'] != 'United States']

df3.to_csv(path + 'examples/NCHS2.csv', index=None)
print('New file', df3.shape)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

print(df['Cause Name'].unique(),
      df['State'].unique(),
      sep='\n\n')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

sum = df['Deaths'].sum()
sum_fm = format(sum, ',')

print('Total deaths:', sum_fm)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

df_ca = df[(df.Year == 2017) & (df.State == 'California')]

df_ca

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

df_diabetes = df[df['Cause Name'] == 'Diabetes']
sum_diabetes = df_diabetes['Deaths'].sum()

print('Total deaths of diabetes :', format(sum_diabetes, ','))

suicide_2015_2017 = df[(df['Cause Name'] == 'Suicide') &
                       (df['Year'] >= 2015) & (df['Year'] <= 2017)]

sum_suicide = suicide_2015_2017['Deaths'].sum()

print('Total deaths of suicide between 2015-2017 :',
      format(sum_suicide, ','))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

df = df[df.Year >= 2010].groupby('Year').sum()

df[['Deaths']].style.format('{:,}')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

df = df.groupby('State').sum().sort_values(by='Deaths', ascending=False)

df[['Deaths']].head(10).style.format('{:,}')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

df = df.groupby(['Cause Name']).sum().sort_values(by='Deaths', ascending=False)

df[['Deaths']].style.format('{:,}')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/NCHS2.csv')

#กำหนดเงื่อนไขโดยเลือกเฉพาะข้อมูลของรัฐ Florida ตั้งแต่ปี 2015 เป็นต้นมา
df_fl = df[(df.Year >= 2015) & (df.State == 'Florida')]

#เรียงลำดับข้อมูลจากมากไปหาน้อย
df_fl = df_fl.sort_values(by='Deaths', ascending=False)

#แบ่งกลุ่มตามปีค.ศ. แล้วเลือกข้อมูล 3 ลำดับแรกของแต่ละกลุ่ม
df_fl = df_fl.groupby(['Year']).head(3)

display(df_fl)

In [ ]:
g = df_fl.groupby(['Year', 'Cause Name'])[['Deaths']].sum()

g.style.format('{:,}')

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('seaborn')

df = pd.read_csv(path + 'examples/NCHS2.csv')
df = df[df.Year >= 2010].groupby('Year').sum()

plt.plot(df.index, df['Deaths'], 'ro-')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('seaborn')

df = pd.read_csv(path + 'examples/NCHS2.csv')

df = df[(df.Year >= 2008) & (df['Cause Name'] == 'Kidney disease')]
df = df.groupby('Year').sum()

plt.plot(df.index, df['Deaths'], 'mD-')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('seaborn')

df = pd.read_csv(path + 'examples/NCHS2.csv')

df = df[df.State == 'California'].groupby('Cause Name').sum()

#display(df)

df[['Deaths']].plot.bar(color='lightblue')

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

display(df.head(5), df.tail(5))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

th = df[df['Country'] == 'Thailand']

th.style.format('{:,}', subset=pd.IndexSlice[:, 'Population':])

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

print(df.Region.unique())

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

display(df[df['Region'].str.startswith('ASIA')].head(3),
        df[df['Region'].str.endswith('AMERICA')].head(3),
        df[df['Region'].str.find('EUROPE') != -1].head(3))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

idx_max = df['Population'].idxmax()

sr_pop = df.loc[idx_max]

#แนวทางการแสดงผลแบบต่างๆ
display(sr_pop,
        sr_pop.to_frame(),
        sr_pop.to_frame().T)  #หรือใช้ transpose() แทน T

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

idx_max = df['GDP_USD_per_capita'].idxmax()

sr_gdp = df.loc[idx_max]

display(sr_gdp.to_frame(),
        sr_gdp.to_frame().T)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

df_sorted_gdp = df.sort_values(by='GDP_USD_per_capita', ascending=False)

df_sorted_gdp.reset_index(inplace=True)

df_h10 = df_sorted_gdp.head(10)

display(df_h10.style.format('{:,.0f}',
                            subset=pd.IndexSlice[:, 'Population':]))

#ลำดับของประเทศไทย
th_idx = df_sorted_gdp[df_sorted_gdp['Country'] == 'Thailand'].index

print('Thailand rank:', th_idx[0] + 1)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

df = df.head(5)

df.insert(5, 'GDP_USD', df['Population'] * df['GDP_USD_per_capita'])
df.insert(6, 'Pop_density_per_sq_mi', df['Population'] / df['Area_sq_mi'])

#display(df)

style = df.style.format('{:,.0f}',
                        subset=pd.IndexSlice[:, 'Population':'GDP_USD'])

style.format({'Pop_density_per_sq_mi':'{:,.2f}'})

display(style)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

df = df.head(5)

a = lambda frame: frame['Population'] * frame['GDP_USD_per_capita']
b = lambda frame: frame['Population'] / frame['Area_sq_mi']

df2 = df.assign(GDP_USD=a, Pop_density_per_sq_mi=b)

#display(df2)

style = df2.style.format('{:,.0f}',
                         subset=pd.IndexSlice[:, 'Population':'GDP_USD'])

style.format({'Pop_density_per_sq_mi':'{:,.2f}'})

display(style)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

g = df.groupby(['Region'])[['Population', 'Area_sq_mi']].sum()

g = g.add_prefix('sum_')

display(g.style.format('{:,}'))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

g = df.groupby(['Region']).agg({'Population':[max, min],
                                'GDP_USD_per_capita':[max, min]})

display(g.style.format('{:,}'))

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

df.pivot_table(aggfunc=[max, min],
               values=['Population', 'GDP_USD_per_capita'],
               index=['Region'],
               margins=False)

In [ ]:
import pandas as pd

df = pd.read_csv(path + 'examples/countries_info.csv')

#เรียงลำดับข้อมูลจากมากไปหาน้อย โดยใช้คอลัมน์เป้าหมายที่หาค่าสูงสุดเป็นเกณฑ์
df_sorted = df.sort_values(by='GDP_USD_per_capita', ascending=False)

#แบ่งกลุ่มตามภูมิภาคแล้วเลือกข้อมูล 3 ลำดับแรกของแต่ละกลุ่ม
df_grp_by_reg = df_sorted.groupby(['Region']).head(3)

display(df_grp_by_reg)

In [ ]:
#จัดกลุ่มโดยใช้ภูมิภาคและประเทศในการจัดกลุ่ม
#แล้วแสดงผลรวมของแต่ละกลุ่ม ในแบบ Aggregate Function
#เพื่อหาผลรวมเฉพาะคอลัมน์ GDP
g = df_grp_by_reg \
        .groupby(['Region', 'Country']) \
        .agg({'GDP_USD_per_capita':max}) \
        .add_prefix('max_')

#ถ้าต้องการแยกแสดงผลทีละส่วน พร้อมจัดสไตล์
display(g[:9].style.format('{:,}'),
        g[9:18].style.format('{:,}'),
        g[18:27].style.format('{:,}'),
        g[27:].style.format('{:,}'))

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(path + 'examples/countries_info.csv')

countries = ['Thailand', 'Malaysia', 'Singapore',
             'Indonesia', 'Vietnam', 'Philippines']
gdps = []

for i, c in enumerate(countries):
    idx = df[df.Country == countries[i]].index
    g = df.at[idx[0], 'GDP_USD_per_capita']
    gdps.append(g)

plt.bar(countries, gdps, color=['lightblue', 'lightblue', 'lightgreen', 'lightblue', 'lightblue', 'lightblue'])
plt.xticks(rotation=60)
plt.title('ASEAN GDP per capita (USD)')
plt.show()